<html>
	<head>
		<meta charset="utf-8">

		<title>Charlie Redwood - Web Developer.</title>

		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<header>

			<figure>

				<span>
					<img src="img/avatar.png" class="avatar">
					<a class="social" href="https://twitter.com/RedwoodCharlie"><img src="img/twitter-128.png"></a>
					<a class="social" href="https://github.com/M-E-T-H-O-Dman"><img src="img/github-6-128.png"></a>
					<a class="social" data-email="charlie.redwood'gmail.com"><img src="img/gmail-login-128.png"></a>
				</span>

			</figure>
			
		</header>

		<div class="header">
			<h2>About Me</h2>
		</div>

		<section id="about_me">
			<article>Lorem ipsum dolor sit amet, pro justo ipsum option an, ex has quis adhuc viris. Ut quo latine malorum temporibus. Et est etiam ornatus appellantur, ut eos luptatum principes inciderint, sit admodum docendi torquatos in. Graeci facete sadipscing per ne, te lorem prodesset abhorreant mei.
			</article>
		</section>

		<div class="header">
			<h2>Projects</h2>
		</div>

		<section id="projects">
			<article>
				Lorem ipsum dolor sit amet, pro justo ipsum option an, ex has quis adhuc viris. Ut quo latine malorum temporibus. Et est etiam ornatus appellantur, ut eos luptatum principes inciderint, sit admodum docendi torquatos in. Graeci facete sadipscing per ne, te lorem prodesset abhorreant mei.
			</article>
		</section>

		<div class="header">
			<h2>Blog</h2>
		</div>

		<section id="blog">
			<article>
				Lorem ipsum dolor sit amet, pro justo ipsum option an, ex has quis adhuc viris. Ut quo latine malorum temporibus. Et est etiam ornatus appellantur, ut eos luptatum principes inciderint, sit admodum docendi torquatos in. Graeci facete sadipscing per ne, te lorem prodesset abhorreant mei.
			</article>
		</section>

		<footer>
			<p>&copy; 2014 - Charlie Redwood</p>
		</footer>

	</body>
</html>