<html>
	<head>
		<meta charset="utf-8">

		<title>Charlie Redwood - Web Developer.</title>

		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<header>

			<figure>
				<img src="img/avatar.png" class="avatar">
			</figure>
			
			<span>
				<a class="social" href="https://twitter.com/RedwoodCharlie"><img src="img/twitter-128.png"></a>
				<a class="social" href="https://github.com/M-E-T-H-O-Dman"><img src="img/github-6-128.png"></a>
				<a class="social" data-email="charlie.redwood'gmail.com"><img src="img/gmail-login-128.png"></a>
			</span>
		
		</header>

		<section id="about_me">
			<article>Lorem ipsum dolor sit amet, pro justo ipsum option an, ex has quis adhuc viris. Ut quo latine malorum temporibus. Et est etiam ornatus appellantur, ut eos luptatum principes inciderint, sit admodum docendi torquatos in. Graeci facete sadipscing per ne, te lorem prodesset abhorreant mei.
			</article>
		</section>

		<section id="projects">
			<article>
				Lorem ipsum dolor sit amet, pro justo ipsum option an, ex has quis adhuc viris. Ut quo latine malorum temporibus. Et est etiam ornatus appellantur, ut eos luptatum principes inciderint, sit admodum docendi torquatos in. Graeci facete sadipscing per ne, te lorem prodesset abhorreant mei.
			</article>
		</section>

		<section id="blog">
			<article>
				Lorem ipsum dolor sit amet, pro justo ipsum option an, ex has quis adhuc viris. Ut quo latine malorum temporibus. Et est etiam ornatus appellantur, ut eos luptatum principes inciderint, sit admodum docendi torquatos in. Graeci facete sadipscing per ne, te lorem prodesset abhorreant mei.
			</article>
		</section>

	</body>
</html>